.app-header {
  background-image: linear-gradient(to right, #11060a, #532331);
  color: #ffffff;
  padding: 10px 0;
}

.app-header .fix-width {
  max-width: 800px;
}

.app-header h1 {
  font-size: 28px;
  margin: 0 20px;
}

.app-body {
  background-color: #ffffff;
  height: calc(100% - 50px);
  color: #574651;
  padding: 0 10px;
}

.container {
  max-width: 800px;
  height: 100%;
}
